/*@import './reset.css!css-loader'*/
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
/*@charset "utf-8";*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video ,button{
    margin:0;
    padding:0;
    outline:0; 
}
button,iframe{
   border: 0;
}
html,body{
  font-size: 62.5%;
    font-family: "微软雅黑";
}
h1,h2,h3,h4,h5,h6,em,i {
    font-weight: 100;
    font-style: normal
}
ul,ol,li {
    list-style-type: none
}
a {
    color: #666;
    text-decoration: none;
    outline: 0
}
a:hover {
    text-decoration: none
}　

input[type=number]::-webkit-input-placeholder { 
      color: #DDDDDD; 
      -webkit-transition: color.5s; 
    } 
    input[type=number]:focus::-webkit-input-placeholder, input[type=number]:hover::-webkit-input-placeholder { 
      -webkit-transition: opacity.5s; 
      opacity: 0;
    }
input::-webkit-input-placeholder{
  color: #999999;
}   
input {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
textarea::-webkit-input-placeholder{
  color: #DBDBDB;
} 
